html, body, div,h1, h2, p,a, img, strong,form, label, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul,ol {
    list-style: none;
}

body {
    line-height: 1.5;
}
img {
  width: 100%
}
